<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/img/favicon.jpg" type="image/x-icon">
    <title>Remian Diagnostic</title>
</head>

<body>
    <!-- Navigation Section Start -->
    <section class="navbar-section">
        <img class="logo" src="../static/img/favicon.jpg" alt="">
        <nav class="navbar">
            <p class="navbar-title">Remian Diagnostic</p>
            <ul class="navbar-lists">
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">Home</a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">Events & Webinars</a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">Remian Team</a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">Contact Us</a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">About Remian</a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">Help</a>
                </li>
            </ul>
        </nav>
    </section>
    <!-- Navigation section End -->
    <!-- Banner Section Start -->
    <section class="banner-section">
        <!-- This section will have a courosel displaying the webinars andevents. 
         The first picture shoul:
         Background of Remian Diagnostic
         Display overlay text (Accredited CPD Webinar Designed for medical Laaratory) 

        Each othe picture displayed will have a simple description and a button to Event or Webinars page (Will be used to display Recent Events and Webinars) -->
    </section>
    <!-- Banner Section End  -->
    <!-- Event and Notice Section start -->
    <section class="event-notice-board-section">
         <!-- This will containe a list of Events or Webinars on the right. and Notice board on the lef.
         Event or Webinar will be on a card or something like a barge with:
         1. Event name
         2. description
         3. Venue (Online or Physical)
         4. Book Button 
         Notices will have
         1. Description
         2. Date and time posted
         3. Link to the full content of the notice-->
         
    </section>
    <!-- Event and Notice Section End -->
    <!-- About Remian Diagnostic and The team Section Start -->
    <section class="about-and-team-section">
        <!-- This will content the details about Remian Diagnotics this includes;
        1. Motto
        2. Background
        3. Who are Remian Diagnostic
        4. Vision
        5. Objective
        6. Why choose Remian Diagnostic
        7. The team (Directors)
        About the team: 
        1. It shoul be a card with Image, Name, role, Personal opinion(Few words in speech form) and Know more about the person link. -->
    </section>
    <!-- About Remian Diagnostic and The team Section End -->

    <!-- Contact Section Start -->
     <section>
        <!-- Contant form on the right with Name, Email,Submit btn and Social media links on the left that will direct user to:
         Remian Facebook page
         Linkedin
         X(Twitter)
         Instagram
         Tiktok-->
     </section>
<!-- Contact Section End -->
 <!-- Footer Section Start -->
 <Footer>
Quick link.
 </Footer>
 <!-- Footer Section End -->

 <!-- Copyright below footer  -->
  <!-- display the following at the center:
  copyright@ year (Auto updated) Remian Diagonostice - All Rights Reserved
  And Powered By Saul Mupalia on the righ side (Link to Whatsapp) -->
  
</body>

</html>